
main {
    view-transition-name: conteudo-pagina;
}

@view-transition {
    navigation:auto
}

@keyframes saindo {
    to {
        transform: translateY(100%);
    }
}

@keyframes entrando{
    from {
        transform: translateY(100%);
    }
}

::view-transition-group(conteudo-pagina){
animation-duration: 2.5s;
}

::view-transition-old(conteudo-pagina){
animation-name: saindo;
}

::view-transition-new(conteudo-pagina){
    animation-name: entrando;
}

