
                /* WhatsApp Widget CRIA+ */

#wa-bubble-typing {
  background: #fff;
  border-radius: 0 8px 8px 8px;
  padding: 10px 14px;
  display: inline-block;
  margin-bottom: 8px;
}
.wa-dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #aaa;
  margin: 0 2px;
  animation: waBounce 1.2s infinite;
}
.wa-dot:nth-child(2) {
  animation-delay: 0.2s;
}
.wa-dot:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes waBounce {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-6px);
  }
}
.wa-msg {
  display: none;
}
.wa-bubble {
  background: #fff;
  border-radius: 0 8px 8px 8px;
  padding: 8px 12px;
  display: inline-block;
  max-width: 220px;
  font-size: 13px;
  color: #303030;
  margin-bottom: 8px;
}
.wa-time {
  display: block;
  text-align: right;
  font-size: 10px;
  color: #aaa;
  margin-top: 2px;
}
 
        
        /*FOOOTER*/

